.addCat {
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.422);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    &_inner {
        width: 400px;
        border-radius: 10px;
        padding: 30px 30px;
        background-color: #fff;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &_topHead {
        text-align: center;
        color: #262A69;
        font-weight: 600;
        font-size: 25px;
    }

    &_thanks  {
        text-align: center;
    }

    &_tick {
        width: 70px;
        margin-bottom: 30px;
    }

    &_text {
        font-size: 13px;
        margin: 20px 0;
    }

    &_msg {
        font-family: 'custom-bold';
        font-size: 15px;
    }

    &_inputWrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 45px;

        label {
            color: #262A69;
            font-weight: bold;
            font-size: 15px;
        }

        input {
            border: 1px solid #262A69;
            outline: none;
            background-color: transparent;
            padding: 11px 15px;
            font-weight: bold;
            width: 100%;
        }

        input::placeholder {
            color: #757575;
            font-weight: 500;
            font-size: 12px;
        }
    }

    &_err {
        color: #F79465;
        font-weight: 600;
        font-size: 12px;
        margin: 20px 0;
    }

    &_ok {
        padding: 5px 50px;
        border-radius: 5px;
        outline: none;
        border: none;
        background: #3582F4;
        color: white;
        font-size: 15px;
        transition: 0.3s ease-in-out;
    }

    &_ok:hover {
        background: #1b4481;
    }


    &_btn {
        padding: 7px 0;
        border-radius: 10px;
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #3985FC, #ED624F);
        color: white;
        font-size: 20px;
        font-weight: 500;
        margin-top: 35px;
        transition: 0.3s ease-in-out;
        width: 100%;
    
    }

    &_btn:hover {
        background-image: linear-gradient(to right, #153261, #682a22);
    }
}