.dashboardTopCards {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    margin-top: 25px;

    &_top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            height: 34px;
        }

    }

    &_single {

        box-shadow: 0 0 3px rgb(0 0 0 / 20%);
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        padding: 15px;
    }


    &_number {
        font-weight: 500;
        font-size: 22px;
        color: #000000;
    }

    &_text {
        font-size: 23px;
        text-align: right;
        color: #278CFF;
        font-weight: 700;
    }

    &_pic {
        img {
            width: 60px;
        }
    }

}

@media (max-width: 1000px) {
    .dashboardTopCards {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}