// colors
$red: #f55e5e;
$green: #57e38f;
$whiteish: #fbfbfb;

.errors {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

// #container {
//     width: 800px;
//     margin: auto;
//     padding: 40px 20px;
//     text-align: center;
//   }
  
  
  #error, #success {
    width: 400px;
    margin: 0 20px;
    padding: 40px;
    display: inline-block;
    vertical-align: top;
    
    box-shadow: 0 0 10px 1px #c8c8c8;
    border-radius: 20px;
    color: $whiteish;
    
    h3 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  }
  
  #error {
      background: linear-gradient(180deg, #0B1A32, #0B1A32, #3686ff, #ff5f3e);
    
    h3 {
      color: darken($red, 30);
      text-shadow: 0 0 1px lighten($red, 20);
    }
  }
  
  button {
    width: 100%;
    margin-top: 30px;
    padding: 15px 10px;
    cursor: pointer;
    
    border: 4px solid $whiteish;
    border-radius: 80px;
    
    color: $whiteish;
    font-size: .9em;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: .04em;
    text-transform: uppercase;
  }
  
  #error button:hover, 
  #success button:hover {
    background-color: $whiteish;
  }
  
  #error button:hover  {
    color: $red;
  }
  
  #success button:hover  {
    color: $green;
  }
}