.tables {
    // margin-left: 15px;
    // padding: 10px 10px;
    // border-radius: 15px;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    // max-height: calc(100vh - 250px);
    max-height: calc(100vh - 172px);
    width: 100%;
    color: #313567;
    margin-top: 20px;
    margin-bottom: 49.7344px;


    &_shortHeight {
        max-height: calc(100vh - 602px);
    }

    &_noDataFound {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 350px);
    }


    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        overflow-y: scroll;
        max-height: 400px;
        white-space: nowrap;
    }


    th {
        position: sticky;
        top: -10px;
        z-index: 99;
        background-color: #F0F0F0;
        white-space: nowrap;
        color: #757575;
    }

    th,
    td {
        text-align: left;
        padding: 10px 0px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.589);
        padding-left: 20px;
        color: #757575;
    }

    .purpleHead {

        th {
            background-color: #1e2255;
            color: white;
        }
    }

    td {
        color: #757575;
    }

    &_btns {
        display: flex;
        gap: 10px;

    }

    &_edit {
        border-radius: 20px;
        padding: 5px 36px;
        font-size: 15px;
        border: 1px solid #272B6B;
        color: #272B6B;
        font-weight: 500;
    }

    &_edit:hover {
        background: rgb(221, 221, 221);
    }

    &_view {
        border-radius: 20px;
        padding: 5px 36px;
        font-size: 15px;
        border: none;
        color: #e5e0e0;
        font-weight: 400;
        background-image: linear-gradient(to right, #272B6B, #A0212D);
    }

    &_view:hover {
        background-image: linear-gradient(to right, #1e2255, #521118);
    }

    &_location {
        color: #ff3131;
    }

    &_remove {
        color: #ff3131 !important;
        cursor: pointer;
    }


    @media (max-height : 800px) {

        &_shortHeight {
            max-height: calc(100vh - 302px);
        }
    }

}