.topbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 15px 0;
    background: #03080f;

    .fa-bars {
        cursor: pointer;
        padding: 0 5px;
        position: relative;
        font-size: 24px;
        right: 10px;
    }

    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 999;
    }

    &_left,
    &_right {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 1px 28px;

        a {
            color: white;
            text-decoration: none;
            font-size: 20px;
        }
    }

    &_heading {
        // background-color: #E8E9AD;
        padding: 18px 40px;
        font-size: 20px;
        // height: 100%;
        color: #fff;
        font-weight: 500;
    }

    &_logo {
        cursor: pointer;
        margin: 10px 0;
        width: 140px;
        position: relative;
        right: 12px;
    }

    &_text {
        color: #fff;
        font-size: 14px;
    }

    &_verify {
        border: none;
        background-image: linear-gradient(to right, #3985FC, #ED624F);
        color: #fff;
        padding: 10px 15px;
        border-radius: 6px;
        font-size: 15px;
    }

    &_verify:hover {
        background-image: linear-gradient(to right, #193b72, #632821);

    }

}

@media (max-width: 700px) {
    .topbar {
        &_logo {
            width: 104px;

            margin: 0 14px;
        }
    }
}

@media (max-width: 550px) {
    .topbar {
        flex-wrap: wrap;

        .fa-bars {
            font-size: 15px;
        }

        &_text {
            font-size: 10px;
        }

        &_verify {
            padding: 10px;
            border-radius: 5px;
            font-size: 10px;
        }
        &_left, &_right {
            gap: 5px;
        }
    }
}