.viewService {
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.422);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    &_inner {
        width: 400px;
        border-radius: 10px;
        padding: 30px 30px;
        background-color: #fff;
        position: relative;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 140px);
        overflow: auto;
    }

    &_img {
        width: 100%;
        border-radius: 10px;
        margin: 20px 0;
    }

    &_topHead {
        text-align: center;
        color: #262A69;
        font-weight: 600;
        font-size: 25px;
    }

    &_desc {
        font-size: 13px;
        margin: 5px 0;
        color: gray;
    }

    &_head {
        font-size: 18px;
        font-weight: 600;
        color: #3985FC;
        font-family: 'custom-semibold';
    }

    &_cost {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
    }

    &_cost>p:first-child {
        font-family: "custom-bold";
    }

    &_cost>p:nth-child(2) {
        font-size: 18px;
        font-weight: 600;
        color: #3985FC;
        font-family: "custom-semibold";
    }

    &_order {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 14px rgb(45 44 44 / 41%);
        margin: 10px 0;
        color: #272B6B;
        font-size: 14px;
        padding: 10px;
        border-radius: 5px;
    }

    &_order>p:first-child {
        font-family: "custom-semibold";
    }

    &_order>p:nth-child(2) {
        font-weight: 600;
        font-family: "custom-semibold";
    }

    &_err {
        color: #FF0018;
        font-weight: 600;
        font-size: 12px;
        margin: 10px 0;
    }

    &_btn {
        padding: 14px 0;
        border-radius: 10px;
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #3985FC, #ED624F);
        color: white;
        font-size: 20px;
        font-weight: 600;
        margin-top: 35px;
        transition: 0.3s ease-in-out;
    }

    &_btn:hover {
        background-image: linear-gradient(to right, #153261, #682a22);
    }
}