.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: #120B36;
    background-image: url("../../images/Admin-20 (72).png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    background-attachment: fixed;

    &_box {
        width: 500px;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        align-items: center;
        overflow-y: scroll;
    }

    &_box::-webkit-scrollbar {
        display: none;
    }

    &_topHead {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px 0px;
        margin-bottom: 20px;

        img {
            width: 70%;
            margin-bottom: 40px;
            cursor: pointer;

        }

        .head {
            color: white;
            font-weight: 650;
            font-size: 32px;
            position: relative;
            margin: 8px 0px;
        }

        .year {
            color: white;
            font-weight: 650;
            font-size: 22px;
            position: relative;
            margin: 5px 0px;
        }

        .cityName {
            color: white;
            font-weight: lighter;
            font-size: 22px;
            position: relative;
            margin-top: -8px;
        }
    }

    &_inputSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        position: relative;
        width: 100%;
    }

    

    &_head {
        color: #222E50;
        font-weight: 700;
        font-size: 25px;
        position: relative;
        text-align: center;
        bottom: 2px;
    }

    &_inputWrapper {
        position: relative;
        width: 380px;
        // width: 304px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 8px 0;

        label {
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
            position: relative;
            top: 6px;
        }

        input {
            width: 100%;
            padding: 15px 0px;
            padding-left: 30px;
            padding-right: 40px;
            border: none;
            outline: none;
            border-radius: 2px;
            margin: 12px 0px;
            font-weight: 600;
            position: relative;
            font-size: 16px;
            background-color: #2863BF;
            color: white;
        }

        input::placeholder {
            color: #D4D5E1;
            font-weight: 600;
        }

        input:focus {
            box-shadow: 0px 0px 7px -2px rgb(92, 92, 92);
        }

        .emailIcon {
            position: absolute;
            left: 25px;
            z-index: 99;
            top: 33px;
            /* font-size: 22px; */
            color: #749AA9;
            width: 22px;
        }

        .passIcon {
            position: absolute;
            left: 25px;
            z-index: 99;
            top: 26px;
            /* font-size: 22px; */
            color: #749AA9;
            width: 18px;
        }

        .showEye {
            position: absolute;
            right: 12px;
            top: 53.5px;
            color: #749AA9;
            cursor: pointer;
            z-index: 999;
        }
    }

  

    &_loginBtn {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 50px;

        button {
            width: 80%;
            padding: 15px 0px;
            background: #FFFFFF;
            font-weight: 600;
            border-radius: 12px;
            border: none;
            outline: none;
            color: #272B6B;
            font-size: 22px;
            text-align: center;
            transition: 0.3ms ease-in;
        }

        button:hover {
            background: #EBEAEA;
        }
    }

    &_err {
        color: #ff0018;
        font-weight: 700;
    }

    &_signup {
        text-align: center;
        color: #EBEAEA;
        font-family: 'custom-semibold';
        margin-top: 20px;
        font-size: 14px;

        span {
            color: #97C1FF;
            font-family: 'custom-semibold';
            text-decoration: underline;
            cursor: pointer;
        }

        span:hover {
            color: rgb(102, 132, 177);
        }
    }

   
    @media (max-width: 500px) {
        &_box {
            width: 100%;
        }

        .login_inputWrapper {
            position: relative;
            width: 280px;
            display: flex;
            justify-content: center;
        }

        .login_loginBtn button {
            width: 280px;
        }
    }
}