.setPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-left: 15px;
    position: relative;
    margin-top: 125px;
    width: 100%;


    &_wrap {
        width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        margin-left: 80px;
    }


    &_label {
        margin: 0px 8px;
        color: #342B7C;
        font-size: 20px;
        font-weight: 600;
        text-align: left;
    }


    &_inputSec {
        display: flex;
        flex-direction: column;
        width: 65%;
        // margin-top: 10px;
        position: relative;


        .showEye {
            position: absolute;
            right: 20px;
            top: 40px;
            color: #342B7C;
            cursor: pointer;
        }

        input {
            padding: 20px 0px;
            padding-left: 80px;
            padding-right: 20px;
            width: 100%;
            border-radius: 40px;
            border: 1px solid #342B7C;
            outline: none;
            color: black;
            font-weight: 600;
            margin: 15px 0;
        }


        input::placeholder {
            color: #342B7C;
            font-weight: 600;
        }


        .lockIcon {
            position: absolute;
            left: 33px;
            top: 34px;
            width: 18px;
        }

    }


    &_update {
        margin-top: 25px;
        width: 66%;
        text-align: center;


        button {
            width: 70%;
            padding: 8px 0;
            border-radius: 10px;
            outline: none;
            border: none;
            background-image: linear-gradient(to right, #3985FC, #ED624F);
            color: white;
            font-size: 17px;
            font-weight: 600;
            margin: 20px 0;
            transition: 0.3s ease-in-out;
        }

        button:hover {
            background-image: linear-gradient(to right, #1d427e, #81342a);
        }
    }
}



@media (max-width : 1200px) {

    .setPassword {
        margin-left: 0px;
    }

    .setPassword_wrap {
        width: 80%;
        margin-left: 0;
    }


    .setPassword_inputSec {
        width: 100%;
    }


    .setPassword_update {
        width: 100%;
    }
}