* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}


::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}


:-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #c4c3c2;
  border-radius: 6px;
}


// input type number remove arrows

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p {
  margin-bottom: 0;
}

.mainLayout {
  display: flex;
  height: 100vh;
  overflow: auto;
  display: flex;
  width: 100%;
  background: #F0F0F0;

  &_parent {
    display: flex;
    width: 100%;
    position: relative;
  }
}


.background {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &_content {
    flex: 1;
  }
}

// Typo
@import './typography';

@import "./pages/login";
@import "./pages/dashboard";
@import "./pages/setPassword";
@import "./pages/profile";
@import "./pages/verify";
@import "./pages/od";
@import "./pages/addServ";
@import "./pages/sales";



// Components
@import "./components/sidebar";
@import "./components/navbar";
@import "./components/dashboardTopCards";
@import "./components/footer";
@import "./components/eventsSection";
@import "./components/serviceCard";
@import "./components/order";
@import "./components/eventTable";
@import "./components/salesTable";
@import "./components/addCat";
@import "./components/viewService";
@import "./components/topbar";
@import "./components/hero";
@import "./components/success";
@import "./components/mainFooter";
@import "./components/verification";


// Loader
// @import "../style/components/loader";

// Modals 

// Table
@import "./components/tables";



// React-toastify
@import 'react-toastify/dist/ReactToastify.css';